.index {
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  .tipsContainer {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #F1F1F1;
    .tipsText {
      font-size: small;
      font-weight: lighter;
      color: black;
      line-height: 0;
      letter-spacing: 1px;
    }
  }
  .addIconContainer {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .myWordsContainer {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    max-height: 300px;
    background-color: #F1F1F1;
    .avatarContainer {
      display: flex;
      justify-content: flex-end;
    }
    .myWordsTitle {
      font-size: medium;
      font-weight: bolder;
    }
    .myWordsText {
      font-size: small;
      font-weight: lighter;
      color: black;
      line-height: 0;
      letter-spacing: 1px;
    }
  }
  .loginButton {
    margin-top: 50px;
    color: white;
    background-color: #04d568;
  }
  .setButton {
    margin-top: 50px;
    border-color: #04d568;
    color: #04d568;
  }

  .itemContainer {
    .cardContainer {
      margin-bottom: 10px;
      .at-card-header__title {
        font-weight: bold;
      }
      .at-card-header__extra {
        font-size: 30px;
        font-weight: bolder;
      }
      .krItemContainer {
        margin-top: 10px;
        margin-bottom: 10px;
        .divider {
          height: 2px;
          width: 100%;
          background-color: #F1F1F1;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .bottomContainer {
    margin-left: -10px;
    position: fixed;
    width: 100%;
    bottom: 2px;
    .bottomButton {
      background-color: #04d568;
      color: white;
      font-size: medium;
      font-weight: bold;
    }
  }
}
